.carousel img{
	margin-left: auto; 
	margin-right: auto;
}

.slick-prev:before, .slick-next:before{
	color:red;
}

.product{
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	margin-top: 20px;
	display: block;
	text-align: center;
}

.product-picture{
	height: 190px;
}

.product-picture img{
	max-height: 190px;
}

.product-price{
	font-size: 150%;
}

.product-price-currency{
	font-size: 90%;
}