.carousel img{
	margin-left: auto; 
	margin-right: auto;
}

.slick-prev:before, .slick-next:before{
	color:red;
}

.product-image{
	height: 190px;
}

.product-image img{
	max-height: 190px;
	margin-left: auto;
	margin-right: auto;
}